.search_container {
  display: flex;
  align-items: center;
  height: 100%;
  width: 39rem;
  gap: 1.5rem;
  padding: 0 3rem;
  font-size: 1.6rem;
  line-height: 1.531rem;
  border-right: #f4f4f4 0.1rem solid;
  border-left: #f4f4f4 0.1rem solid;
}

@media screen and (max-width: 700px) {
  .search_container {
    border-left: none;
    width: 30rem;
  }
}

@media screen and (max-width: 600px) {
  .search_container {
    border-left: none;
  }
}

@media screen and (max-width: 410px) {
  .search_container {
    display: none;
  }
}

.search_container input {
  font-family: inherit;
  font-size: inherit;
  border: none;
  background: none;
  outline: none;
}

.search_container input::placeholder {
  font-weight: 300;
}

.search_container svg {
  cursor: pointer;
  width: 2rem;
  height: 2rem;
}
