.tabs {
  display: flex;
  align-items: flex-end;
  margin: 3rem 0;
  border-bottom: 0.1rem solid #e7e7e7;
}

.tab {
  background: #ffffff;
  border: 0.1rem solid #e7e7e7;
  border-radius: 0rem 0.4rem 0rem 0rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24rem;
  padding: 1.5rem 0;
  font-size: 1.2rem;
  line-height: 1.1rem;
  text-transform: uppercase;
  font-weight: 500;
  cursor: pointer;
  font-family: inherit;
}

.active {
  background: linear-gradient(180deg, #0077b5 0%, #0e6795 100%);
  border-radius: 0.4rem 0.4rem 0rem 0rem;
  color: #ffffff;
  height: 5rem;
}
